<!--Container -->
<!-- <div class="mx-auto bg-grey-400">
  <!--Screen-->
<!-- <div class="min-h-screen flex flex-col">
    <!--Header Section Starts Here-->
<!-- <header class="bg-nav">
      <div style="background-color: #093545" class="flex justify-between">
        <div class="p-1 mx-3 inline-flex items-center">
          <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
          <h1 style="font-size: 30px" class="text-white p-2">PShop Web</h1>
        </div>
        <div class="p-1 flex flex-row items-center dropdown">
          <img
            style="margin-right: 10px"
            [src]="userInfo?.avatar | validURL: 'user'"
            class="inline-block h-8 w-8 rounded-full"
            alt=""
          />
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ userInfo?.username | titlecase }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
              <a class="dropdown-item" routerLink="/auth/my-profile"
                >My Profile</a
              >
            </li>
            <li><a class="dropdown-item" href="#">Notifications</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header> -->
<!--/Header-->

<!-- <div class="flex flex-1">
      <!--Sidebar-->
<!-- <aside
        style="width: 200px"
        id="sidebar"
        class="bg-side-nav w-full md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block"
      >
        <ul style="padding: 0" class="list-reset flex flex-col">
          <li
            class="w-full h-full py-3 px-2 border-b border-light-border bg-white"
          >
            <a
              routerLink="product"
              class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline"
            >
              <i
                style="margin-top: 5px"
                class="fa-solid fa-house float-left mx-2"
              ></i>
              Home
            </a>
          </li>
          <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a
              routerLink="user"
              class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline"
            >
              <i style="margin-top: 5px" class="fa fa-user float-left mx-2"></i>
              Users
            </a>
          </li>
          <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a
              routerLink="product"
              class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline"
            >
              <i
                style="margin-top: 5px"
                class="fa fa-signal menu-icon float-left mx-2"
              ></i>
              Product
            </a>
          </li>

          <div class="dropdown">
            <li class="w-full h-full py-3 px-2 border-b border-light-border">
              <a
                routerLink="order"
                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline"
              >
                <i
                  style="margin-top: 5px"
                  class="fas fa-shopping-cart float-left mx-2"
                ></i>
                Order
              </a>
            </li>
          </div>
        </ul>
      </aside> -->

<div class="layout-container">
  <!-- Sidebar -->
  <nav class="sidebar">
    <header>
      <div class="image-text">
        <span class="image">
          <!--<img src="logo.png" alt="">-->
        </span>

        <div class="text logo-text">
          <span class="name">Codinglab</span>
          <span class="profession">Web developer</span>
        </div>
      </div>

      <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
      <div class="menu">
        <ul class="menu-links p-0">
          <li class="nav-link">
            <a href="#">
              <i class="bx bx-home-alt icon"></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class="bx bx-layer icon"></i>
              <span class="text nav-text">Products</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class="bx bx-user icon"></i>
              <span class="text nav-text">Users</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="#">
              <i class="bx bx-cart icon"></i>
              <span class="text nav-text">Orders</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bottom-content">
        <li class="">
          <a href="#">
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
      </div>
    </div>
  </nav>

  <!-- <section class="home">
    <div class="text">Dashboard Sidebar</div>
  </section> -->

  <!-- /Sidebar -->
  <!--Main-->
  <main class="home bg-white-300 flex-1 p-3 overflow-hidden">
    <router-outlet></router-outlet>
  </main>
  <!--/Main-->
</div>
