.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.layout-navbar,
.content-footer {
  flex: 0 0 auto;
  z-index: 1075;
}

.layout-navbar {
  position: relative;
  padding-top: 0.25rem;
  padding-bottom: 0.2rem;
  height: 3.875rem;
  flex-wrap: nowrap;
  color: #697a8d;
  z-index: 2;
}

.bg-navbar-theme {
  background-color: #fff !important;
  color: #697a8d;
}

.layout-navbar {
  background-color: rgba(255, 255, 255, 0.95) !important;
  -webkit-backdrop-filter: saturate(200%) blur(6px);
  backdrop-filter: saturate(200%) blur(6px);
}

.navbar-detached {
  box-shadow: 0 0 0.375rem 0.25rem rgb(161 172 184 / 15%);
}

.layout-navbar.navbar-detached {
  width: calc(100% - (1.625rem * 2));
  margin: 0.75rem auto 0;
  border-radius: 0.375rem;
  padding: 0 1.5rem;
}

.layout-navbar.navbar-detached.container-xxl {
  max-width: calc(1440px - calc(1.625rem * 2));
}

.layout-navbar .navbar-nav-right {
  flex-basis: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem;
  color: #8e9baa;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.bg-navbar-theme .navbar-nav > .nav-link,
.bg-navbar-theme .navbar-nav > .nav-item > .nav-link,
.bg-navbar-theme .navbar-nav > .nav > .nav-item > .nav-link {
  color: #697a8d;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #a1acb8 !important;
  font-size: 15px;
}

.flag-icon {
  display: inline-block;
  width: 1.3333333333em;
  background-color: red;
}

.flag-icon-background,
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon-us.flag-icon-squared {
  background-image: url("https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/vendor/fonts/flags/1x1/us.svg");
}

.flag-icon.flag-icon-squared {
  width: 1em;
}

.rounded-circle {
  border-radius: 50% !important;
}

.fs-3 {
  font-size: calc(1.2875rem + 0.45vw) !important;
}

.flag-icon {
  vertical-align: middle;
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}
