* {
  padding: 0;

  box-sizing: border-box;
}

i.home {
  font-size: 1.4rem;

  color: #585858;
}

section.content {
}

section.content hr {
  display: block;
}

section.content .title {
}

section.content .title .product-title {
  width: 10%;
}

section.content .title .product-name {
  width: 10%;

  text-align: center;

  margin-right: 80px;
}


section.content .title .product-price {
  width: 6.8%;
}

section.content .title .product-qty {
  width: 2%;
}

section.content .product {
}

section.content .product .product-image {
  width: 90px;
  height: 80px;
}

section.content .product .product-image .product-img {
  width: 100%;
  height: auto;

  border-radius: 4px;
}
section.content .product .price {
  width: 120px;

  text-align: center;
}

section.content .product .quantity {
}

section.content .product p {
  margin: 0;
}

section.content .product .quantity .decrease, .increase {
  width: 60px;
}

section.content .product .name {
  width: 20%;

  text-align: center;
}

section.content .product .quantity .number {
  background-color: #f8f9fa;

  display: inline-block;
  height: 40px;
  line-height: 40px;
}

section.content .product .quantity .btn:focus {
  box-shadow: none;
}

section .payment {

}

section .payment .total {
  width: 20%;
}

section .payment .total .total-price {
  width: 27%;
}

section .btn.btn-payment:focus {
  box-shadow: none;
}

section .btn.btn-payment {
  width: 17%;
  height: 40px;

  margin-right: 3%;

  background-color: #093545;
}

.title-header{
  border-bottom: none;
}

.title-header > h5{
  width: 100%;
}

.box-notify{
  padding: 10px 0;
}

.btn-cancel, .btn-agree{
  width: 80px;
  height: 30px;

  outline: none;
  border: none;
}

.btn.btn-agree{
  background-color: #FB5F5F;
}

.img-empty{
  width: 70%;
  margin: auto;
}

