.sign-in {
  color: #224957;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.icon-home {
  position: absolute;
  top: 7%;
  right: 7%;
}

i {
  font-size: 32px;
}

i:hover {
  color: #4e6d79;
}

form {
  margin-top: 146px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 64px;
  margin-bottom: 40px;
}

input,
input:focus {
  background-color: #224957 !important;
  border: 0;
  outline: none;
}

input {
  border-radius: 10px;
  width: 300px;
  padding: 12px 18px;
  margin-bottom: 32px;
  color: #fff;
}

.input {
  position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #224957 inset !important;
  -webkit-text-fill-color: #fff !important;
}

.alert-sign {
  position: absolute;
  top: 50px;
  left: 18px;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: 1.2px;
  margin: 0px;
  width: 100%;
  text-align: left;
  color: #dc3545db;
}

::placeholder {
  color: #fff;
  font-size: 14px;
}

[type="password"] {
  margin-bottom: 26px;
}

span {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  margin-bottom: 21px;
}

a {
  cursor: pointer;
  font-weight: 500;
  color: #20df7f !important;
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  color: #20df7f !important;
  border-bottom: 1px solid currentcolor;
}

button {
  width: 300px;
  padding: 13px;
  background: #20df7f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 0;
  margin-bottom: 30px;
}

button:active {
  background: #1dc972;
  color: #fff;
}

.wave-svg {
  position: absolute;
  bottom: -35px;
  z-index: -1;
}
